body {
  font-size: 18px;
  font-familiy: Georgia;
  padding: 40px;
  padding-top: 10px;
  margin: auto;
  width: 1000px;
}

td,table,p {
  text-align: left;	
  font-size: 18px;
  font-familiy: Georgia;
}

th {
	text-align: center;	
}

p {
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.caption, #caption {
  text-align: center;
  font-size: 13px;
  font-family: Arial,Helvetica,Sans;
  color: #444;   
}

.dataStream p.description {
	margin-top: 30px;
	margin-bottom: 30px;	
}

img.error, img.memory {
  margin: auto;
  padding: auto;
  margin-top: 10px;
  width: 80%;
}

div.listing {
  margin-left: 30px;
  margin-right: 30px;
}

.section {
	margin-top: 50px;	
}

td code {
  font-size: 8pt;
}


table.learner {
}

table.learner td {
   border: solid 1px #bbb;
   padding: 3px;
}

.learner td.name {
   font-family: Monospace;
   font-size: 14px;
}

.key, .value {
   font-family: Monospace;
   font-size: 14px;
}

.processor {
	padding: 0px;
	float: left;
	border: solid 1px #006666;
	margin: 10px;
	background-color: #ccffcc;
}

.processor div {
	padding: 4px;	
}

.processor .name {
    color: #006666;
    font-family: Monospace;
}

.processor .parameters {
	margin-left: 8px;
	padding: 0px;
}


div.confusionMatrix table {
        margin: auto;
}

table {
  margin: auto;
}

.title {
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: center;
}


table.confusionMatrix {
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
  font-family: Verdana,Helvetica,Sansserif;
  text-align: center;
}

table th {
  background-color: #f0f0f0;
  border: solid 1px #bbb;
  font-size: 13px;
  font-family: Verdana,Helvetica,Sansserif;
  text-align: center;
  font-weight: normal;
  color: #222;
  padding: 4px;
}

table.confusionMatrix td, table.summary td {
  border: solid 1px #bbb;
  font-size: 13px;
  font-family: Verdana,Helvetica,Sansserif;
  text-align: center;
  padding: 6px;
}